<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>British Pound</string>
		<key>short_name</key>
		<string>GBP</string>
		<key>symbol</key>
		<string>£</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Euro</string>
		<key>short_name</key>
		<string>EUR</string>
		<key>symbol</key>
		<string>€</string>
	</dict>
	<dict>
		<key>name</key>
		<string>American Dollar</string>
		<key>short_name</key>
		<string>USD</string>
		<key>symbol</key>
		<string>$</string>
	</dict>
</array>
</plist>
